<nav class="site-nav">
  <a class="nav-logo" href="{{ "/" | relURL }}">{{ .Site.Title }}</a>

  <p class="nav-heading">Navigation</p>
  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li>
      <a href="{{ .URL | relURL }}" {{ if $.IsMenuCurrent "main" . }}class="active"{{ end }}>
        {{ if .Name }}
          {{ replace .Name "_" " " }}
        {{ else if .Identifier }}
          {{ replace .Identifier "_" " " }}
        {{ else }}
          Link
        {{ end }}
      </a>
    </li>
    {{ end }}
  </ul>

  {{ if .Site.Menus.icons }}
  <p class="nav-heading">Find me on</p>
  <ul class="nav-links nav-social">
    {{ range .Site.Menus.icons }}
    <li><a href="{{ .URL }}" target="_blank" rel="noopener noreferrer">{{ .Name }}</a></li>
    {{ end }}
  </ul>
  {{ end }}

</nav>
